[Desktop Entry]
Version=1.0
Type=Application
Name=EZPedit
Comment=Chip Database Editor 
Exec=/opt/ezp_editor/ezp_editor
Icon=/opt/ezp_editor/chipEdit64.png
Path=/opt/ezp_editor
Terminal=false
Encoding=UTF-8
Categories=Electronics;Development;
StartupNotify=false
