[Desktop Entry]
Version=1.0
Type=Application
Name=EZPedit
Exec=/opt/ezp_editor/ezp_editor
Icon=/opt/ezp_editor/chipEdit64.png
Path=/opt/ezp_editor
Terminal=false
Encoding=UTF-8
Categories=Electronics;Development;
StartupNotify=false
Comment=Chip database editor for EZP Programmers 
Comment[en]=Chip database editor for EZP Programmers
Comment[es]=Editor de bases de datos de chips para programadores EZP
Comment[de]=Chipdatenbank-Editor für EZP-Programmierer
Comment[ru]=Редактор базы микросхем программаторов EZP
Comments[gr]=Επεξεργαστής βάσης δεδομένων τσιπ προγραμματιστών EZP
Comment[zh_CN]=面向 EZP 程序员的芯片数据库编辑器
GenericName=Chip database editor for EZP Programmers 
GenericName[en]=Chip database editor for EZP Programmers
GenericName[es]=Editor de bases de datos de chips para programadores EZP
GenericName[de]=Chipdatenbank-Editor für EZP-Programmierer
GenericName[ru]=Редактор базы микросхем программаторов EZP
GenericName[gr]=Επεξεργαστής βάσης δεδομένων τσιπ προγραμματιστών EZP
GenericName[zh_CN]=面向 EZP 程序员的芯片数据库编辑器
